.navbar .responsive{
    position: relative;
}

footer{
    background-color: white;
    max-width: 20%;
    margin: auto;
   
}
#forfooter
{
    background-color: white;
    color:green;
    font-weight: bolder ;
    text-align: center;
}
body{
    background-color: black;
}
.jumbotron{
    background-color:white;
    margin: 10px auto;
    width: 500px;
    height: 525px;
    background-size: cover;
    max-width: 100%;
    
}
#connect{
    margin-top: 0px;
}

@media only screen and (max-width: 768px){
    .navbar .responsive{
        position: relative;
        
}
    *{
        box-sizing: border-box;
        font-family: sans-serif;
        position: relative;
    }
    footer{
        max-width: 40%;
        background-color: white;
        
        margin: auto;
       
    }
    #forfooter
    {
        text-align: center;
        background-color: white;
        color:green;
        font-size: small;
        
    }
    body{
        background-color: black;
        position: relative;
    }
    .jumbotron{
        background-color:white;
        margin: 30px auto;
        width: 500px;
        height: 525px;
        background-size: cover;
        max-width: 100%;
        

    }
    
}