footer{
    background-color: white;
    max-width: 20%;
    margin: auto;
   
}
.navbar .responsive{
    position: relative;
}
#forfooter
{
    background-color: white;
    color:green;
    font-weight: bolder ;
}
body{
    background-color: black;
}
.jumbotron{
    background-color:white;
    margin: 30px auto;
    width: 500px;
    height: 500px;
    max-width: 100%;
}
@media only screen and (max-width: 768px){
    .navbar .responsive{
        position: relative;
}
    *{
        box-sizing: border-box;
        font-family: sans-serif;
    }
    footer{
        background-color: white;
        max-width: 20%;
        margin: auto;
       
    }
    #forfooter
    {
        background-color: white;
        color:green;
    font-weight: bolder ;
    }
    body{
        background-color: black;
    }
    .jumbotron{
        background-color:white;
        margin: 30px auto;
        width: 500px;
        height: 500px;
        max-width: 100%;
    }

}